<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.jarviis.oracle.mappers.PublisherMapper">
	<insert id="save" parameterType="shop.jarviis.oracle.publisher.domain.PublisherDto">
		insert into
		publishers (pub_id, pub_name, mgr_name, phone)
		values (${pubId}, #{pubName}, #{mgrName}, #{phone})
	</insert>
	<select id="findAll" resultType="shop.jarviis.oracle.publisher.domain.PublisherDto">
		SELECT 
	        pub_id pubId,
	        pub_Name pubName,
	        mgr_name mgrName,
	        phone
    	FROM publishers
	</select>
	<select id="findByPubName" resultType="shop.jarviis.oracle.publisher.domain.PublisherDto" parameterType="string">
		SELECT 
	        pub_id pubId,
	        pub_Name pubName,
	        mgr_name mgrName,
	        phone
	    FROM publishers
	    WHERE pub_name like '%' || #{value} || '%'
	</select>
	<select id="findByPhone" resultType="shop.jarviis.oracle.publisher.domain.PublisherDto" parameterType="string">
		SELECT 
	        pub_id pubId,
			pub_Name pubName,
	        mgr_name mgrName,
	        phone
	    FROM publishers
	    WHERE phone like '%' || #{value} || '%'
	</select>
</mapper>